<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h2>Product List</h2>
  <a href="{% url 'product_create' %}">Add New Product</a>
  <ul>
    {% for product in products %}
      <li>
        <strong>{{ product.name }}</strong> - Ksh {{ product.price }}<br>
        {% if product.image %}
          <img src="/media/{{ product.image.grid_id }}" width="100" />
        {% endif %}
        <p>{{ product.description }}</p>
        <a href="{% url 'product_update' product.id %}">Edit</a> |
        <a href="{% url 'product_delete' product.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
